<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/tache" class="navbar-brand">QUADRA</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item">
        <a href="/tache" class="nav-link" *ngIf="getIsLoggedIn()" routerLink="tache">Liste Taches</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!getIsLoggedIn()">

      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="getIsLoggedIn()">
      <li class="nav-item">

        <a href class="nav-link"> Bonjour {{ getName() }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Deconnexion</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>